<div class="container">
  <form [formGroup]="customer" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required />
      <mat-error *ngIf="customer.get('name')?.hasError('required')">
        This field is required.</mat-error
      >
      <mat-error
        *ngIf="
          customer.get('name')?.hasError('pattern') &&
          customer.get('name')?.touched
        "
      >
        This field accept only letters.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input
        matInput
        placeholder="Surname"
        formControlName="surname"
        required
      />
      <mat-error *ngIf="customer.get('surname')?.hasError('required')">
        This field is required.</mat-error
      >
      <mat-error
        *ngIf="
          customer.get('surname')?.hasError('pattern') &&
          customer.get('surname')?.touched
        "
      >
        This field accept only letters.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adress</mat-label>
      <textarea
        matInput
        placeholder="Adress"
        formControlName="adress"
        required
      ></textarea>
      <mat-error *ngIf="customer.get('adress')?.hasError('required')">
        This field is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Postal Code</mat-label>
      <input
        matInput
        placeholder="Postal Code"
        formControlName="postalCode"
        maxlength="5"
        required
      >
      <mat-error *ngIf="customer.get('postalCode')?.hasError('required')">
        This field is required.</mat-error
      >
      <mat-error
        *ngIf="
          customer.get('postalCode')?.hasError('pattern') &&
          customer.get('postalCode')?.touched
        "
      >
        This is not valid postal code.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        type="tel"
        placeholder="Phone Number"
        formControlName="phoneNumber"
        maxlength="9"
      >
      <mat-error
        *ngIf="
          customer.get('phoneNumber')?.hasError('pattern') &&
          customer.get('phoneNumber')?.touched
        "
      >
        This is not valid phone number.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      >
      <mat-error
        *ngIf="
          customer.get('email')?.hasError('email') &&
          customer.get('email')?.touched
        "
      >
        This is not valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select
        placeholder="Status"
        formControlName="status"
        required
      >
        <mat-option value="finished">Transaction finished</mat-option>
        <mat-option value="inWork">In work</mat-option>
        <mat-option value="rejected">Offer rejected</mat-option>
      </mat-select>
      <mat-error *ngIf="customer.get('status')?.hasError('required')">
        This field is required.</mat-error
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>
