* {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: var(--text-color);
}
.container {
  margin-top: 3rem;
  form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    mat-form-field{
      width: 40%;
      margin-bottom: 2rem;
    }
    mat-error{
      width: 40%;
    }

    button{
      width: 70%;
    }
  }
}
mat-option{
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .container{
      width: 100%;
      form{
        flex-direction: column;
        mat-form-field{
          width: 80%;
        }
      }

  }
}